{% extends 'shop/base_shop.html' %}
{% load static %}

{% block productshop %}

<div class="container darken-3 z-depth-5"
     style="background-color:{{ colors.eshop_container_products }};
     color:{{ colors.eshop_font_container }}; padding: 15px 15px 15px 15px; ">
    <div class="container">
        <div class="text-center">
            <h5>Masz pytania? A może jesteś zainteresowany produktem?</h5>
            <h5 >Czekamy na Twoją wiadomość 👍</h5>
            <h5 class="mt-5" style="color:{{ colors.eshop_font_container }};">{{confirmation_text}}</h5>
            <h6 style="color:{{ colors.eshop_font_container }};"> {{send}} </h6>
        </div>
        <div class="text-center">
        {% if messages %}
        {% for message in messages %}
            {% if 'info' in message.tags %}
                <div class="alert alert-primary my-3 mx-3" role="alert">
                    {{ message }}
                </div>
            {% elif 'error' in message.tags %}
                <div class="alert alert-danger my-3 mx-3" role="alert">
                    {{ message }}
                </div>
            {% endif %}
        {% endfor %}
        {% endif %}
        </div>
            <div class="row mt-5">
                <form class="col-12" action="." method="POST"> {% csrf_token %}
                    <div class="row form-group" style="color:{{ colors.eshop_font_container }};">
                        <div class="form-group col-12 col-md-6 my-4">
                            <label for="exampleInputEmail1" class="row ml-1 my-n2">
                                <i class="material-icons prefix px-2">account_circle</i>
                                <p>Imię*</p>
                            </label>
                            {{ contact_form.name }}
                        </div>
                        <div class="form-group col-12 col-md-6 my-4">
                            <label for="exampleInputEmail1" class="row ml-1 my-n2">
                                <i class="material-icons prefix px-2">accessibility</i>
                                <p>Nazwisko</p>
                            </label>
                             {{ contact_form.surname }}
                        </div>
                        <div class="form-group col-12 col-md-6 my-4">
                            <label for="exampleInputEmail1" class="row ml-1 my-n2">
                                <i class="material-icons prefix px-2">business_center</i>
                                <p>Firma</p>
                            </label>
                             {{ contact_form.company }}
                        </div>
                        <div class="form-group col-12 col-md-6 my-4" >
                            <label for="exampleInputEmail1" class="row ml-1 my-n2">
                                <i class="material-icons prefix px-2">email</i>
                                <p>Email*</p>
                            </label>
                             {{ contact_form.email }}
                        </div>
                        <div class="form-group mx-auto my-4">
                            <label for="exampleFormControlTextarea1">
                                <i class="material-icons prefix">mode_edit</i>
                                Wiadomość*
                            </label>
                           {{ contact_form.question }}
                        </div>
                     </div>
                        <div class="col">
                            <label class="col-12 ml-n3">
                                {{ contact_form.confirmation }}
                                <span style="color:{{ colors.eshop_font_container }};">
                                    Wyślij potwierdzenie na mój adres E-mail
                                </span>
                            </label>
                            <button type="submit" class="btn btn-{{ colors.eshop_buttons_cont }}
                            btn-outline-{{ colors.eshop_buttons_font_cont }}" name="contact">
                                <div class="row mx-auto mb-n3">
                                    <p class="">Wyślij</p><i class="material-icons ml-2" >send</i>
                                </div>
                            </button>
                        </div>
                </form>
              </div>
            <div class="text-center mt-5" style="color:{{ colors.eshop_font_container }};">
                <h5>{{ owner_panel_shop.company_name }}</h5>
                <h5>{{ owner_panel_shop.street }} {{ owner_panel_shop.street_number }}</h5>
                <h5>{{ owner_panel_shop.zipcode }} {{ owner_panel_shop.city }}</h5>
                <adress><a href="mailto: {{ owner_panel_shop.email }}">
                    <h5 style="color:{{ colors.eshop_font_container }};">
                    {{ owner_panel_shop.email }}</h5></a></adress>
                <h5 style="padding: 0px 0px 40px 0px;">{{ owner_panel_shop.phone_number }}</h5>
            </div>
    </div>
</div>

{% endblock %}