{% extends "admin/base.html" %}

{% load static %}

{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
<h1 id="site-name">
    <a class="navbar-brand mr-auto" href="https://chriss.pythonanywhere.com/">
        <p class="ml-n3 small" style="margin: 0px 0px 0px -10px;">Created by..</p>
        <img class="image-logo" style="height: 2.5rem; margin: -10px 0px 0px 0px;"
             src="{% static 'img/logo Diddychriss.png' %}" alt="Logo">
        <p style="margin: 10px 0px 0px -10px;">Your Admin Panel..</p>
    </a>
</h1>
{% endblock %}

{% block nav-global %}{% endblock %}